apiVersion: v1
kind: Secret
metadata:
  name: minio
  namespace: solution
data:
  MINIO_ACCESS_KEY: {{ MINIO_ACCESS_KEY.stdout }}
  MINIO_BUCKET_LOCATION: {{ MINIO_BUCKET_LOCATION.stdout }}
  MINIO_BUCKET_NAME: {{ MINIO_BUCKET_NAME.stdout }}
  MINIO_SECRET_KEY: {{ MINIO_SECRET_KEY.stdout }}
  MINIO_URL: {{ MINIO_URL.stdout }}